:root {
  --font-base: "Pretendard", -apple-system, BlinkMacSystemFont,
    "Apple SD Gothic Neo", "Noto Sans KR", "Segoe UI", sans-serif;
  --color-black: #222;
  --color-white: #ffffff;
  --color-gray100: #aaa;
  --color-gray200: #666;
  --color-border-gray: #c6c6c6;
  --color-blue100: #e8f2fc;
  --color-blue200: #cedef2;
  --color-blue300: #82a6d6;
  --color-blue400: #6b8fc4;
  --color-error: #f24d4a;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}
